node_modules
build
npm-debug.log
.env
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
*.egg-info/
.installed.cfg
*.egg
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt

ScienceOlympics/ScienceOlympics/settings.py
ScienceOlympics/settings.py
settings.py
settings
debug.log 
