{% extends 'science_olympiad/base.html' %}{% load static %}

{% block style %}
.index-page .page-header{
    height: 100vh;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.img-fluid {
    padding-top: 15px;
}
.counter {
    background-color:#ffffff;
    padding: 20px 0;
    border-radius: 5px;
    color: #000000;
}

.count-title {
    color: #000000;
    font-size: 40px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
}

.count-text {
    color: #000000;
    font-size: 13px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
}

.fa-2x {
    margin: 0 auto;
    float: none;
    display: table;
    color: #000000;
}

.btn:focus, .btn.focus, .btn:hover, .btn.btn-default:focus, .btn.btn-default.focus, .btn.btn-default:hover {
    background-color: #153642;
}

{% endblock %}

{% block title %}الصفحة الرئيسة{% endblock %}

{% block content %}

<div class="page-header" data-parallax="true" style="background-image: url({% static 'science_olympiad/images/header.jpg' %}); ">
    <div class="container">
        <div class="row">
      <div class="col-md-8 ml-auto mr-auto">
        <div class="brand text-center">
            <div class="text-center"><img style="padding-top:80px" class=" img-fluid" width="100%" src="{% static 'science_olympiad/images/logo_white.png' %}"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="main">
  <div class="text-center mx-auto my-4">
    <a  style="font-size:24px;background-color:#fd3576;border-color:#fd3576;" class="btn btn-primary" href="{% url 'science_olympiad:welcome_contest' 10 145 %}">المسابقة الرابعة</a>
    <!-- <a  style="font-size:24px;background-color:#fd3576;border-color:#fd3576;" class="btn btn-primary" href="{% url 'science_olympiad:welcome_contest' 6 1 %}">المسابقة الثانية</a>
    </div>
    <div class="text-center mx-auto my-4">
      <a  style="font-size:24px;background-color:#fd3576;border-color:#fd3576;" class="btn btn-primary" href="{% url 'science_olympiad:welcome_contest' 7 1 %}">المسابقة الثالثة</a>
      <a  style="font-size:24px;background-color:#fd3576;border-color:#fd3576;" class="btn btn-primary" href="{% url 'science_olympiad:welcome_contest' 8 1 %}">المسابقة الرابعة</a> -->
      </div>
</div>
{% endblock %}

{% block customscript %}
<script>
// Set the date we're counting down to
var countDownDate1 = new Date("Mar 4, 2020 18:00:00").getTime();
var countDownDate2 = new Date("Feb 10, 2020 18:00:00").getTime();
var countDownDate4 = new Date("Jan 26, 2020 18:00:00").getTime();

// Update the count down every 1 second
var x = setInterval(function() {

  // Get today's date and time
  var now = new Date().getTime();

  // Find the distance between now and the count down date
  var distance = countDownDate1 - now;

  // Time calculations for days, hours, minutes and seconds
  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);

  // Output the result in an element with id="demo"
  document.getElementById("demo1").innerHTML = days + " يوم - " + hours + " :  "
  + minutes + " : " + seconds + "";

  // Find the distance between now and the count down date
  var distance = countDownDate2 - now;

  // Time calculations for days, hours, minutes and seconds
  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);

  // Output the result in an element with id="demo"
  document.getElementById("demo2").innerHTML = days + " يوم - " + hours + " :  "
  + minutes + " : " + seconds + "";

  // Find the distance between now and the count down date
  var distance = countDownDate4 - now;

  // Time calculations for days, hours, minutes and seconds
  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);

  // Output the result in an element with id="demo"
  document.getElementById("demo4").innerHTML = days + " يوم - " + hours + " :  "
  + minutes + " : " + seconds + "";

  // If the count down is over, write some text
  if (distance < 0) {
    clearInterval(x);
    document.getElementById("demo1").innerHTML = "";
  }

  //demo1 is equal to demo3
  document.getElementById("demo3").innerHTML = demo1.innerHTML

}, 1000);
</script>
{% endblock %}